node_modules/
*.log
npm-debug.log*
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
build/
dist/
client/build/
.next/
out/
*.swp
*.swo
*~
.project
.pydevproject
.c9/
*.sublime-project
*.sublime-workspace
.idea/
*.iml
*.iws
*.ipr
.gradle
.classpath
.cproject
.settings/
*.bundle
.byebug_history
.DS_Store
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt][a-z]
*.sqlite
*.sqlite3
vendor
Thumbs.db
.env.*.local
